.part {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.part .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.part .overlap-group {
  position: absolute;
  width: 1080px;
  height: 340px;
  top: 193px;
  left: 173px;
}

.part .hover {
  position: absolute;
  width: 256px;
  height: 100px;
  top: 45px;
  left: 400px;
  background-color: #8ecaff;
  border-radius: 20px;
  border: 3px solid;
  border-color: #00437f;
}

.part .hover-fill-slightly {
  position: absolute;
  width: 256px;
  height: 100px;
  top: -3px;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27.6px;
}

.part .text-wrapper {
  font-weight: 700;
}

.part .span {
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  line-height: 23.0px;
}

.part .initial-state {
  top: 55px;
  position: absolute;
  width: 160px;
  height: 80px;
  left: 0;
  background-color: #8ecaff;
  border-radius: 20px;
  border: 3px solid;
  border-color: #00437f;
}

.part .text-wrapper-2 {
  position: absolute;
  width: 160px;
  height: 80px;
  top: -3px;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27.6px;
}

.part .focused {
  position: absolute;
  width: 280px;
  height: 110px;
  top: 40px;
  left: 800px;
  background-color: #8ecaff;
  border-radius: 20px;
  border: 3px solid;
  border-color: #00437f;
}

.part .p {
  position: absolute;
  width: 280px;
  height: 110px;
  top: -3px;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27.6px;
}

.part .hover-init {
  position: absolute;
  width: 442px;
  height: 49px;
  top: 132px;
  left: 92px;
}

.part .img {
  position: absolute;
  width: 911px;
  height: 163px;
  top: 135px;
  left: 28px;
}

.part .vector {
  position: absolute;
  width: 146px;
  height: 22px;
  top: 84px;
  left: 656px;
}

.part .init-hover {
  width: 468px;
  height: 54px;
  left: 73px;
  position: absolute;
  top: 0;
}

.part .text-wrapper-3 {
  width: 200px;
  height: 47px;
  top: 187px;
  left: 207px;
  position: absolute;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.0px;
}

.part .text-wrapper-4 {
  position: absolute;
  width: 400px;
  height: 47px;
  top: 293px;
  left: 233px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.0px;
}

.part .text-wrapper-5 {
  width: 84px;
  height: 74px;
  top: 20px;
  left: 686px;
  position: absolute;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.0px;
}

.part .overlap {
  position: absolute;
  width: 1446px;
  height: 159px;
  top: 25px;
  left: -3px;
}

.part .text-wrapper-6 {
  width: 172px;
  height: 47px;
  top: 112px;
  left: 397px;
  position: absolute;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.0px;
}

.part .text-wrapper-7 {
  position: absolute;
  width: 1446px;
  height: 115px;
  top: 0;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: 73.6px;
}

.part .overlap-2 {
  position: absolute;
  width: 479px;
  height: 245px;
  top: 688px;
  left: 173px;
}

.part .div-wrapper {
  top: 60px;
  position: absolute;
  width: 160px;
  height: 80px;
  left: 0;
  background-color: #8ecaff;
  border-radius: 20px;
  border: 3px solid;
  border-color: #00437f;
}

.part .focused-wrapper {
  position: absolute;
  width: 200px;
  height: 80px;
  top: 60px;
  left: 279px;
  background-color: #8ecaff;
  border-radius: 20px;
  border: 3px solid;
  border-color: #00437f;
}

.part .focused-2 {
  position: absolute;
  width: 200px;
  height: 80px;
  top: -3px;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27.6px;
}

.part .init-focus {
  width: 311px;
  height: 66px;
  left: 72px;
  position: absolute;
  top: 0;
}

.part .focus-init {
  position: absolute;
  width: 312px;
  height: 62px;
  top: 139px;
  left: 75px;
}

.part .text-wrapper-8 {
  position: absolute;
  width: 296px;
  height: 47px;
  top: 198px;
  left: 73px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.0px;
}

.part .overlap-3 {
  position: absolute;
  width: 410px;
  height: 193px;
  top: 711px;
  left: 652px;
}

.part .typing {
  position: absolute;
  width: 260px;
  height: 150px;
  top: 0;
  left: 150px;
  background-color: #8ecaff;
  border-radius: 20px;
  border: 3px solid;
  border-color: #00437f;
}

.part .typing-2 {
  position: absolute;
  width: 260px;
  height: 150px;
  top: -3px;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27.6px;
}

.part .focused-typing {
  position: absolute;
  width: 152px;
  height: 22px;
  top: 66px;
  left: 0;
}

.part .key-pressed-any {
  width: 128px;
  height: 124px;
  top: 69px;
  left: 7px;
  position: absolute;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.0px;
}

.part .text-wrapper-9 {
  width: 300px;
  height: 47px;
  top: 641px;
  left: 232px;
  position: absolute;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.0px;
}
