.part {
  background-color: rgba(255, 255, 255, 1.0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200vw;
  height: 500vh;
}

.part .div {
  background-color: rgba(255, 255, 255, 1.0);
  background: linear-gradient(
    180deg,
    rgb(207, 207, 207) 0%,
    rgb(18, 18, 18) 77%
  );
  width: inherit;
  height: inherit;
  position: relative;
}


.part .text-wrapper {
  font-weight: 700;
  color: #ffffff;
}

.part .text-wrapper-1 {
  font-weight: 700;
  font-size: 15px;
  line-height: 24.0px;
}

.part .span {
  font-family: "Quantico", Helvetica;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  line-height: 24.0px;
}

.part .components {
  position: absolute;
  width: 377px;
  top: 165px;
  left: 114px;
  font-family: "Quantico", Helvetica;
  font-style: bold;
  font-weight: 400;
  color: transparent;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32.0px;
}

.part .comparisons {
  position: absolute;
  width: 380px;
  top: 165px;
  left: 706px;
  font-family: "Quantico", Helvetica;
  font-style: bold;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32.0px;
}

.part .table {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-start;
  position: absolute;
  top: 833px;
  left: 98px;
  background-color: #757575;
  border-radius: 15px;
  overflow: hidden;
  border: 5px solid;
  border-color: #ffffff;
  margin-top: 200px;
}

.part .table-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #757575;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #ffffff;
}

.part .table-row-2 {
  justify-content: space-between;
  width: 100%;
  flex: 0 0 auto;
  background-color: #757575;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  border-color: #ffffff;
}

.part .table-cell {
  flex-direction: column;
  padding: 7px;
  flex: 1;
  flex-grow: 1;
  border-right-width: 2px;
  border-right-style: solid;
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  border-color: #ffffff;
}

.part .table-cell-2 {
  border: 0px none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.part .table-cell-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #ffffff;
}

.part .yellow-text {
  font-weight: 700;
  color: #ffff66;
  font-size: 15px;
  line-height: 24.0px;
}

.part .red-text {
  font-family: "Quantico", Helvetica;
  font-style: normal;
  color: #fa5040;
  font-size: 15px;
  line-height: 24.0px;
}

.part .red-text-2 {
  font-weight: 700;
  color: #fa5040;
  font-size: 15px;
  line-height: 24.0px;
}

.part .green-text {
  font-weight: 700;
  color: #1bd760;
  font-size: 15px;
  line-height: 24.0px;
}

.part .green-text-2 {
  font-family: "Quantico", Helvetica;
  font-style: normal;
  color: #1bd760;
  font-size: 15px;
  line-height: 24.0px;
}

.part .text-wrapper-2 {
  font-family: "Quantico", Helvetica;
  font-style: normal;
  font-size: 15px;
  line-height: 24.0px;
}

.part .quantico-bold {
  position: absolute;
  width: 975px;
  height: 115px;
  top: 24px;
  left: 111px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Quantico", Helvetica;
  font-style: bold;
  font-weight: 700;
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: 73.6px;
}

.part .quantico-bold-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Quantico", Helvetica;
  font-style: bold;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27.6px;
}

.part .quantico-bold-3 {
  position: relative;
  align-self: stretch;
  margin-top: -2.00px;
  font-family: "Quantico", Helvetica;
  font-style: bold;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 17.2px;
}

.part .quantico-bold-4 {
  position: relative;
  align-self: stretch;
  margin-top: -2.00px;
  font-family: "Quantico", Helvetica;
  font-style: bold;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 17.2px;
}

.part .quantico-reg {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Quantico", Helvetica;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 17.2px;
}

.part .cell-text {
  position: relative;
  align-self: stretch;
  font-family: "Quantico", Helvetica;
  font-style: bold;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 17.2px;
}